@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --color-main: rgb(40, 194, 143);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}


body{
    background-image:url(../assets/1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    background: rgb(252, 251, 243);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 0.5em black;


    height: 75%;
    max-width: 600px;

    display: flex;
    align-items: center;
    text-align: center;
}

/* Botão de configurações desativado*/
.settings {
    display: flex;
    flex-direction: row-reverse;
}

.settings a {
    color: var(--color-main);
}

.settings a:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
}

.close-button {
    color: red;
    text-decoration: none;

    font-size: 35px;
    font-weight: 600;
    margin-top: -20px;
    margin-bottom: 10px;
    
}

.forca {
    margin-right: 20px;
}

.tip h2 {
    color: rgb(38, 41, 40);
}

.tip h3 {
    color: rgb(40, 194, 143);
    text-decoration: underline;
}

.tip{
    margin-bottom: 20px;
}

.container-secret-word{
    width: 349px;
    height: 90px;
    background: white;

    border: solid 3px rgb(40, 194, 143);
    border-radius: 10px;

    margin-bottom: 20px;

    color: black;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: rgb(6, 52, 37);
    font-weight: 800;
    letter-spacing: 3px;
}


.keyboard button {
    width: 40px;
    height: 35px;

    margin-top: 5px;
}

.key {
    font-weight: 800;
}

.aviso-palavra-repetida {
    background-color: rgba(0, 0, 0, 0.81);
    border-radius: 10px 10px 0 0;
    padding: 15px 220px;
    position: absolute;
    bottom: -55px;
    transition: transform 0.3s ease-in-out;
    color: aliceblue;
}
  
.aviso-palavra-repetida p {
    margin: 0;
}
  
.aviso-palavra-repetida.show {
    transform: translateY(-50px);
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.849);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}
  
.popup {
    color: rgb(38, 41, 40);
    background: rgb(252, 251, 243);
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}
  
.popup button {
    cursor: pointer;
    background: rgb(40, 194, 143);
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.letras-erradas-container {
    font-size: 18px;
    margin-bottom: 50px;
}

.letras-erradas-container h3 {
    color: rgb(40, 194, 143);
}
  
.letras-erradas-container span {
    font-weight: 600;
    color: rgb(196, 31, 31);
    margin: 0 2px;
}

.popup-settings {
    background-color: rgba(0, 0, 0, 0.849);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-settings.show {
    display: flex;
}

.popup{
    max-height: 80px;
}

.modal-settings{
    color: rgb(38, 41, 40);
    background: rgb(252, 251, 243);
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}


.background-option {
    display: flex;
    gap: 5px;

    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.menu-background {
    padding: 0.5rem;
    background: rgb(255, 255, 255);

    border: solid 2px black;

    display: flex;
    gap: 5px;
}

.menu-background a:hover {
    background: rgba(40, 194, 143, 0.5);

}

.menu-background a::selection {
    background: rgba(40, 194, 143, 0.5);
}

.button-option{
    cursor: pointer;
    background: rgb(40, 194, 143);
    border: 0;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

@media (max-width: 660px) {

    body{
        background-image:url(../assets/1.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container{
        background: rgb(252, 251, 243);
        padding: 0.5rem;
        border-radius: 10px;
        box-shadow: 0 0 0.5em black;
    
    
        max-height: 500px;
        max-width: 390px;
    
        display: flex;
        align-items: center;
        text-align: center;
    }

    .container-secret-word{
        max-width: 150px;
        height: 60px;
        background: white;
    
        border: solid 3px rgb(40, 194, 143);
        border-radius: 10px;
    
        margin-bottom: 20px;
    
        color: black;
    
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    
        color: rgb(6, 52, 37);
        font-weight: 800;
        letter-spacing: 3px;
    }

    .keyboard button {
        width: 20px;
        height: 20px;
    
        margin-top: 5px;
        font-size: 12px;
    }
    
    .key {
        font-weight: 700;
    }

    .aviso-palavra-repetida {
        background-color: rgba(0, 0, 0, 0.81);
        border-radius: 10px 10px 0 0;
        padding: 15px 105px;
        position: absolute;
        bottom: -48px;
        transition: transform 0.3s ease-in-out;
        color: aliceblue;
    }

    .popup {
        height: 90px;
    }

    .forca {
        margin-right: 5px;
    }

}